.drawer-container {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    height: clamp(100vh, 100%, 100%);
}

.drawer {
    background: $primary-bg;
    width: 30%;
    min-height: 100%;
    float: left;
    box-shadow: $light-shadow 1px 0 5px;
    min-width: 25rem;
}