.basic-input {
    font-size: inherit;
    border-radius: 2rem 0 0 2rem;
    border: 1px solid $primary-border;
    min-height: 3.5rem;
    padding-inline-start: 1.2rem;
    padding-inline-end: 1.2rem;
    outline: none;
    &:focus, &:active, &:focus-visible {
       box-shadow: $light-shadow 0 0 4px -1px inset;
    }
}