//16px = 1em
// so 600px:-   600/16 = 37.5em
// so 900px:-   900/16 = 56.25em
// so 1200px:-  1200/16 = 75em
// so 1400px:-  1400/16 = 87.5em
// so 1800px:-  1800/16 = 112.5em

// from phone we have            360 - 599px
// from tab-port we have         600-899px
// from tab-land we have         900-1199px
// from laptop we have           1200-11399px
// from big-desktop we have      1200-1799px

// small to big screen design
@mixin respond($breakPoint) {
    @if $breakPoint == big-desktop {
      @media only screen and (min-width: 112.5em) {
        @content;
      } //1800
    }
  
    @if $breakPoint == laptop {
      @media only screen and (min-width: 87.5em) {
        @content;
      } //1400px
    }
  
    @if $breakPoint == tab-lg {
      @media only screen and (min-width: 75em) {
        @content;
      } //1200px
    }
  
    @if $breakPoint == tab-md {
      @media only screen and (min-width: 56.25em) {
        @content;
      } //900px
    }
  
    @if $breakPoint == tab-sm {
      @media only screen and (min-width: 37.5em) {
        @content;
      } //600px
    }
  
    @if $breakPoint == phone {
      @media only screen and (min-width: 22.5em) {
        @content;
      } //360px
    }
  }
  
