@import '../variables';
.row {
  margin: 0 auto;
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  [class^="col-"] {
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }
  .col-1-of-2 {
    width: $col-1-of-2-width;
  }

  .col-1-of-3 {
    width: $col-1-of-3-width;
  }
  .col-2-of-3 {
    width: $col-2-of-3-width;
  }
  .col-1-of-4 {
    width: $col-1-of-4-width;
  }
  .col-2-of-4 {
    width: $col-2-of-4-width;
  }
  .col-3-of-4 {
    width: $col-3-of-4-width;
  }
  @include clearfix;
}
