.base-td {
    text-align: center;
    vertical-align: middle;
    padding: 2rem 1rem;
    border-top: 1px solid $primary-border;
}
 
tbody > .interactive-row {
  cursor: pointer;
  &:hover {
    scale: 1.02;
    background: #fdfdfd;
    filter: blur(0.25px);
    box-shadow: #00000078 0 7px 6px -8px;
    transition: .3s;
  }
  &:active, &:focus, &:focus-visible, &:focus-within {
    scale: 1;
  }
}